/mcp/bundles/com.ditrix.edt.mcp.server/target
/mcp/tests/com.ditrix.edt.mcp.server.tests/target
/mcp/tests/com.ditrix.edt.mcp.server.tests/bin
nulq
nul
/source
log.log
.serena/
.claude/
/mcp/repositories/com.ditrix.edt.mcp.server.repository/target
/mcp/repositories/com.ditrix.edt.mcp.server.repository/local-update-site/
/mcp/repositories/com.ditrix.edt.mcp.server.repository/local-update-site.zip
/mcp/repositories/com.ditrix.edt.mcp.server.repository/local-update-site-history/
/mcp/repositories/com.ditrix.edt.mcp.server.repository/local-update-site-history.zip
/tests/e2e/__pycache__/
/tests/e2e/*.xml
/scripts/__pycache__/
